body{
    background-image: url(./design-tools.png);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
    overflow-y: hidden;
} 
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
  
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
@keyframes preloader-bounce {
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}
#gif{
    position: absolute;
    width: 300px;
}
.elementOfDesctop a, h2{
    font-weight: 100;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.elementOfDesctop{
    margin-top: 20px;
    text-align: center;
    margin-right: 95%;
}
.elementOfDesctop img{
    width: 70px;
}
footer{
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #3c3c3c;
    bottom: 0;
    width: 100%;
    height: 35px;
    left: 0;
}
footer img{
    margin: 4.2px;
}
#date{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    color: white;
}
#calculatorWindow{
    background-color: #3c3c3c;
    display: none;
    position: absolute;
    top: 50px;
    left: 200px;
    width: 391px;
    height: 484px;
}
#closeCalculator{
    width: 45px;
    height: 25px;
    background-color: red;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
}
.window{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#notepad{
    background-color: #3c3c3c;
    display: none;
    position: absolute;
    left: 900px;
    top: 50px;
    width: 506px;
    height: 250px;
}
#closeNotepad{
    width: 45px;
    height: 25px;
    background-color: red;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
}
#textarea{
    font-size: 17px;
    resize: none;
    width: 500px;
    height: 250px;
    font-family: 'Roboto Slab', serif;
}
#notepadWindow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#calculatorImage{
    background-image: url(./Windows-10-Calculator-Fluent-Icon-Big-256.png);
    width: 35px;
    background-size: contain;
}
#notepadImage{
    background-image: url(./Windows_Notepad_Icon.png);
    width: 35px;
    background-size: contain;
}
#closeComputer{
    width: 45px;
    height: 25px;
    background-color: red;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
}
#computerWindow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#computerImage{
    background-image: url(./logo-2-300x300.png);
    width: 35px;
    background-size: contain;
}
#computer{
    background-color: #3c3c3c;
    display: none;
    position: absolute;
    left: 700px;
    top: 300px;
    width: 1145px;
    height: 250px;
}