.footer-img{
    width: 150px;
}
footer{
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    position: relative;
    border: 1px solid #fdb94e;
    border-radius: 15px;
    width: 1000px;
    height: 178px;
    background: linear-gradient(#fde8cb,#fed79f);
    justify-content: flex-end;
    position: absolute;
    top: 480px;
}
.navtop{
    display: flex;
    flex-direction: row;
    width: 325px;
    height: 53px;
    outline: 0px solid red;
    margin: 0 auto;
    top: 281px;
    background: url(./menuBG.png) no-repeat;
    list-style-type: none;
    border: 1px solid #fde8cb;
    border-radius: 10px;
}
#anons{
    background: none;
}
.nav-silkatop{
    display: block;
    outline: 0px solid red;
    height: 33px;
    margin-top: 3px;
    color: #fff;
    font-size: 16px;
    padding: 14px 14px 0px 14px;
    background: url(./menuRaz.png) no-repeat right;
}
body{
    background-image: url(./123.jpg);
}
.navbottom{
    display: flex;
    flex-direction: row;
}
.nav-silkabottom{
    color: #b89465;
}
.li{
    color: #b89465;
    margin-left: 40px;
}
.janrs{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    position: absolute;
    top: 200px;
    font-size: 20px;
}
.spisok{
    margin-left: 30px;
    color: #fdb94e;

}
.tega{
    color: #dc7600;
}